{{#partial "content"}}

    <h1>Job list!</h1>

    {{#if jobs}} <!--if jobs exist, then-->
        <p>Job History:</p>
       {{#each jobs }} <!--loop-->

            <p>{{ jobTitle }} </p>
            <p>{{ company }}</p>
            <p>{{ jobDescription }}</p>
            <p>{{ companyLocation }}</p>
            <p>{{ startDate }}</p>
            <p>{{ endDate }}</p>
            <p> ------------- </p>

       {{/each}}
       {{else}} <!--no jobs!-->
        <p>No jobs!</p>
       {{/if}}


{{/partial}}

{{> layout.hbs}}